.taskInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    top: -1.5rem;
}

.taskInput input {
    width: 39rem;
    height: 3rem;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    background-color: #262626;
    padding-left: 1rem;

}

.taskInput button {
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    background-color: #1E6F9F;
    color: #F2F2F2;
}